body{font-family: 'Nanum Gothic', sans-serif;color: #333;font-weight: 400;line-height: 1.4; overflow-x: hidden;}

img{display: block;}

.inner{width: 1100px;margin: auto;position: relative;}

.btn{width: 130px;padding: 10px;border: 2px solid #333;border-radius: 4px;color: #333;font-weight: bold;text-align: center;display: block;box-sizing: border-box;transition: all 0.4s;cursor: pointer;}
.btn:hover{background: #333;color: #fff;}

.btn.btn--brown{color: #9c2058;border-color: #9c2058;}
.btn.btn--brown:hover{background: #9c2058;color: #fff;}

.btn.btn--white{color: #fff;border-color: #fff;}
.btn.btn--white:hover{background: #fff;color: #333;}

.btn.btn--gold{color: #373737;border-color: #373737;}
.btn.btn--gold:hover{background: #373737;color: #fff;}

.btn.btn--revers{background: #333;color: #fff;}
.btn.btn--revers:hover{background: transparent; color: #333;}

/* scroll Magic으로 연결할 CSS------------------------- */
/* 맨처음 브라우저 로딩시 안보이게 설정 */
.back-to-position{opacity: 0;transition:all 1s;}

/* 왼 > 오 등장하는 모션의 시작위치 */
.back-to-position.to-right{transform: translateX(-150px);}

/* 오 > 왼 등장하는 모션의 시작위치 */
.back-to-position.to-left{transform: translateX(150px);}

/* 위 > 아래 등장하는 모션의 시작위치 */
.back-to-position.to-down{transform: translateY(-150px);}


/* show를 추가가되면 실행할 모션------- */
.show .back-to-position{opacity: 1;transform: translateX(0);}
.show .back-to-position.delay-0{transition-delay: 0s;}
.show .back-to-position.delay-1{transition-delay: 0.3s;}
.show .back-to-position.delay-2{transition-delay: 0.6s;}
.show .back-to-position.delay-3{transition-delay: 0.9s;}





/* ------------------------------------------------------------ */

/* HEADER 헤더영역-------------------------------------- */
header{width: 100%;background: rgba(255, 254, 242, 0.5);border-bottom: 1px solid #c3c3c3;position: relative;top: 0;z-index: 100; border-bottom: 2px solid #666; overflow: hidden;}
header .inner{height: 120px;}
header .inner h1{position: absolute;top: 0;bottom: 0;margin: auto;height: 75px;}
header .inner .sub-menu{position: absolute;right: 0;top: 10px;display: flex;}
header .inner .sub-menu ul.menu{display: flex;}
header .inner .sub-menu ul.menu li{position: relative;}
header .inner .sub-menu ul.menu li::before{content: "";display: block;width: 1px;height: 12px;background: #e5e5e5;position: absolute;top: 0;bottom: 0;margin: auto;}
header .inner .sub-menu ul.menu li a{display: block;padding: 10px;font-size: 12px;color: #656565;}
header .inner .sub-menu ul.menu li a:hover{color: #000;}
header .inner .sub-menu ul.menu li:first-child::before{display: none;}

header .inner .sub-menu .search{height: 35px;position: relative;transition: all 0.4s;}
header .inner .sub-menu .search input{height: 28px;width: 30px;border-radius: 5px;border: 1px solid #ccc;background: #fff;text-indent: 5px;}
header .inner .sub-menu .search input:focus{width: 150px; border: 1px solid #dd6e18;outline: none;}
 

header .inner .sub-menu .search span{position: absolute;top: 5px;bottom: 0;margin: auto;left: 5px;right: 0;}
header .inner .sub-menu .search.focused span{opacity: 0;}

/* main menu---------- */
header .inner nav ul.main-menu{display: flex;position: absolute;right: 0;bottom: 0;overflow: hidden;}
header .inner nav ul.main-menu > li .item__name{padding: 10px 20px;cursor: pointer;font-size: 14px; transition: all 0.4s;}
header .inner nav ul.main-menu > li:hover .item__name{background: rgba(255, 254, 242, 0.5);color: #dd6e18;text-decoration: underline;border-radius: 6px 6px 0 0; border-bottom: 1px solid #dd6e18;}

header .inner nav ul.main-menu > li .item__contents{width: 100%;position: fixed;left: 0;display: none;}
header .inner nav ul.main-menu > li:hover .item__contents{display: block;}

/* 1층 */
header .inner nav ul.main-menu > li .item__contents .contents__menu{background: rgba(255, 254, 242, 0.8);}
.item__contents ul.inner{display: flex;padding: 20px 0 40px;justify-content: space-around;height: 330px;}
.item__contents ul.inner li h4{font-size: 14px;color: #000;font-weight: bold;padding: 3px 0 15px;}
.item__contents ul.inner li > ul li{font-size: 12px;color: #999;cursor: pointer;padding: 5px 0;}
.item__contents ul.inner li > ul li:hover{color: #dd6e18;}

/* 2층 */
.contents__texture{background: rgba(98, 86, 68, 0.5);padding: 20px 0; height: 50px;overflow: hidden;}
.contents__texture .inner h4 a{color: #333;font-weight: bold;}
.contents__texture .inner p a{color: #dd6e18;margin: 5px 0 15px;}

/* Swiper */
.swiper {
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img{
  display: block;
  width: 100%;
  height: 800px;
  object-fit: cover;
  overflow: hidden;
}
.swiper .swiper-button-next{color: rgba(255,255,255,0.8);}
.swiper .swiper-button-prev{color: rgba(255,255,255,0.8);}
.swiper-pagination-bullet {
  background: white !important;
}

/* product */
#product1{width: 100%; height: 400px; padding: 10px; background:#ffe9df;}
#product1 #marquee{background-color: rgba(255, 253, 251,0.5); height: 50px;line-height: 50px; border-radius: 20px;}
#product1 #marquee h3{font-size: 30px; font-weight: bold;overflow: hidden;font-family: 'Times New Roman', Times, serif;}
#product1 h1{text-align: center; margin: 40px; font-size: 40px; font-weight: bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
#product1 .pd1{display: flex; justify-content: center; align-items: center;background:#fff4ee; width: 100%;}
#product1 .pd1 li{margin:50px;}
#product1 .pd1 li img{transition: all 0.3s; width: 250px; height: auto;}
#product1 .pd1 li img:hover{opacity: 0.5;}
#product1 .pd1 li h3{font-size: 15px; text-align: center; font-weight: bold; margin: 5px;}
#product1 .pd1 li h4{font-size: 12px; text-align: center;}
#product1 .pd1 li h5{font-size: 11px; text-align: center;}

  #product2{width: 100%; height: 400px; padding: 10px; margin-top: 100px;background:#fff4ee;}
  #product2 .pd2{display: flex; justify-content: center; align-items: center;width: 100%;}
  #product2 .pd2 li{margin:50px;}
  #product2 .pd2 li img{transition: all 0.3s; margin: 10px; width: 250px; height: auto;}
  #product2 .pd2 li img:hover{opacity: 0.5;}
  #product2 .pd2 li h3{font-size: 15px; text-align: center; font-weight: bold; margin: 5px;}
#product2 .pd2 li h4{font-size: 12px; text-align: center;}
#product2 .pd2 li h5{font-size: 11px; text-align: center;}

/* YOUTUBE VIDEO area */
.youtube{position: relative;width: 100%;height: 700px;background: #333;overflow: hidden;z-index: 10;}
.youtube .youtube__area{width: 1920px;background: orange;position: absolute;left: 50%;margin-left: calc(1920px / -2);top: 50%;margin-top: calc(1920px * 9 / 16 / -2 );}
.youtube .youtube__area::before{content: "";display: block;width: 100%;height: 0;padding-bottom: 56.25%;}

.youtube .youtube__area #player{width: 100%;height: 100%;position: absolute;top: 0;left: 0;}

/* 유튜브 영상 클릭 안되는 커버 */
.youtube .youtube__cover{position: absolute;top: 0;left: 0;width: 100%;height: 100%;overflow: hidden;}

/* STORE ROCATE------------------------- */
.store-rocate{background: url(../images/store_bg.jpg); overflow: hidden;}
.store-rocate .inner{height: 400px;}
.store-rocate .inner .store_logo{position: absolute;top: 110px;left: 0;}
.store-rocate .inner .text-group{position: absolute;top: 124px;left: 208px;}
.store-rocate .inner .store_img{position: absolute;top: 0;right: 0;}

/* FEEL THE NATURE----------------------- */
.feel-the-nature{background: url(../images/feel_bg.jpg) no-repeat center fixed;background-size: cover; overflow: hidden;}
.feel-the-nature .fixed{color: #fff; font-size: 20px; align-items: center; justify-content: center;text-align: center;}
.feel-the-nature .inner{padding: 110px 0;}
.feel-the-nature .inner .text-group{width: 760px;display: flex;justify-content: center;margin-left: 150px;}
.feel-the-nature .inner .text-group .text2{margin: 50px 0;margin-left: 100px;}

/* AESOP STORE-------------------------- */
.aesop-store{background: url(../images/aesop_store_bg.jpg) no-repeat center fixed;background-size: cover; overflow: hidden;}
.aesop-store .inner{height: 600px;display: flex;justify-content: center;align-items: center;}
.aesop-store .inner .medal{width: 334px;height: 334px;cursor: pointer;perspective: 600px;}

.aesop-store .inner .medal .front,
.aesop-store .inner .medal .back{width: 334px;height: 334px;backface-visibility: hidden;transition: all 1s;position: absolute;overflow: hidden;}

.aesop-store .inner .medal .front{position: absolute;transform: rotateY(0);}
.aesop-store .inner .medal:hover .front{transform: rotateX(-180deg);}
.aesop-store .inner .medal .back{transform: rotateX(-180deg);}
.aesop-store .inner .medal .back .btn{position: absolute;top: 230px;left: 0;right: 0;margin: auto;}
.aesop-store .inner .medal:hover .back{transform: rotateY(0);}

/* FOOTER */
footer{background: #fff;border-top: 1px solid #333; overflow: hidden;}
footer .inner{padding: 40px 0 60px;} 

footer .inner .menu{display: flex;justify-content: center;} 
footer .inner .menu li{position: relative;}
footer .inner .menu li::before{content: "";position: absolute;top: 0;bottom: 0;margin: auto;width: 3px;height: 3px;background: #555;} 
footer .inner .menu li a{padding: 15px;color: #666;}

footer .inner .menu li:first-child::before{display: none;}
footer .inner .menu li:first-child a{color: #dd6e18;font-weight: bold;}

footer .inner .btn-group{margin: 30px 0;display: flex;justify-content: center;}
footer .inner .btn-group a{color: #888;border: 2px solid #333;padding: 10px 15px;border-radius: 4px;font-weight: bold;transition: all 0.3s;}
footer .inner .btn-group a:nth-child(2){margin: 0 20px;}
footer .inner .btn-group a:hover{background: #333;color: #fff;}

footer .inner address{text-align: center;color: #666;}
footer .inner address span{margin: 0 15px;}

footer .inner .copyright{color: #666;text-align: center;margin: 10px 0 20px;}

footer .inner > img{margin: auto;}

/* TOP BUTTON----------------------------- */
#to-top{position: fixed;right: 20px;bottom: 30px;color: #333;border: 2px solid #888;padding: 10px;border-radius: 50px;display: flex;align-items: center;cursor: pointer;background: #fff;z-index: 20;overflow: hidden;}